In [6]:
import numpy as np
import pandas as pd

In [8]:
# Series from list

In [9]:
# string
countries = ['IND', 'PAK', 'USA', 'BAN', 'CHAINA']

pd.Series(countries)

0       IND
1       PAK
2       USA
3       BAN
4    CHAINA
dtype: object

In [68]:
# integer
numbers = [23, 87, 17, 96, 100, 109]

In [5]:
# custom index
marks = [78, 89, 67, 90]
subjects = ["Phy", "Chem", "Maths", "Eng"]
pd.Series(marks, index = subjects)

Phy      78
Chem     89
Maths    67
Eng      90
dtype: int64

In [6]:
pd.Series(marks, index = subjects, name = "Marks's of Ankit")

Phy      78
Chem     89
Maths    67
Eng      90
Name: Marks's of Ankit, dtype: int64

In [7]:
marks = {
    "pyh" : 78,
    "chem" : 89,
    "Maths" : 67,
    "Eng" : 90
}

marks_series = pd.Series(marks, name = "Marks's Ankit")
print(marks_series)

pyh      78
chem     89
Maths    67
Eng      90
Name: Marks's Ankit, dtype: int64

In [8]:
# Attribute

In [9]:
# size
marks_series.size

4

In [10]:
marks_series.dtype

dtype('int64')

In [11]:
marks_series.name

"Marks's Ankit"

In [12]:
marks_series.index

Index(['pyh', 'chem', 'Maths', 'Eng'], dtype='object')

In [13]:
marks_series.values

array([78, 89, 67, 90])

In [14]:
marks_series.dtype

dtype('int64')

In [15]:
marks_series.is_unique

True

In [16]:
# Series using read_csv

In [143]:
# with one col
subs = pd.read_excel('subs.xlsx')
subs = subs.squeeze()
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [131]:
# with 2 col
a = pd.read_csv('kohli_ipl.csv', index_col = "match_no")
vk = pd.Series(a['runs'])
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [33]:
movies = pd.read_csv('bollywood.csv', index_col = 'movie')
movies_series = movies['lead']
movies_series

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [20]:
# Series methods



# head, tails / sample / value_count / sort_value / sort_index

In [21]:
# head -->(it give top 5 rows by defult but we can pass the value for the accessing the rows according to us)

movies_series.head()

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
Name: lead, dtype: object

In [22]:
# head -->(it give below 5 rows by defult but we can pass the value for the accessing the rows according to us)

movies_series.tail()

movie
Hum Tumhare Hain Sanam      Shah Rukh Khan
Aankhen (2002 film)       Amitabh Bachchan
Saathiya (film)               Vivek Oberoi
Company (film)                  Ajay Devgn
Awara Paagal Deewana          Akshay Kumar
Name: lead, dtype: object

In [23]:
# sample ---> (gives the 1 random rows)
movies_series.sample(5)

movie
Bheja Fry 2                      Vinay Pathak
Apna Sapna Money Money          Bobby Darling
Jurm (2005 film)                   Kamal Adib
Jolly LLB                        Arshad Warsi
Haraamkhor                Nawazuddin Siddiqui
Name: lead, dtype: object

In [34]:
# value_count ---> (it gives the all the data that are matched with the index and count all the record)
movies_series.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [25]:
# practice


# questions
#  Which actor done the maximum movies from 2002 to 2022

In [26]:
movies_series.value_counts().head(1)

lead
Akshay Kumar    48
Name: count, dtype: int64

In [27]:
# sort_values ---> it short the record based on the values
vk.sort_values(ascending = False)

match_no
128    113
126    109
123    108
164    100
120    100
      ...
93       0
211      0
130      0
8        0
135      0
Name: runs, Length: 215, dtype: int64

In [28]:
movies_series.sort_index(ascending = True)

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

In [30]:
# series maths method

In [33]:
# count ---> gives the number of rows withount missing values
vk.count()

215

In [36]:
# max / min
vk.max()

113

In [41]:
# mean / median / mode / std / var

In [42]:
# mean
vk.mean()

30.855813953488372

In [43]:
# median
vk.median()

24.0

In [48]:
# mode ---> it is giving all maximun movies by made akshay kumar
movies_series.mode()

0    Akshay Kumar
Name: lead, dtype: object

In [49]:
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64

In [1]:
# Series indexing






#

In [10]:
# integer indexing
countries[0]

'IND'

In [22]:
vk[4]

12

In [26]:
# nagative indexing (in the custom indexing  it does not wrok)
countries[-1]

'CHAINA'

In [27]:
# scling

In [28]:
vk[0:5]

match_no
1     1
2    23
3    13
4    12
5     1
Name: runs, dtype: int64

In [29]:
# fancy indexing
vk[[1, 3, 5]]

match_no
1     1
3    13
5     1
Name: runs, dtype: int64

In [36]:
# lable indexing
movies_series["Hum Tumhare Hain Sanam"]

'Shah Rukh Khan'

In [46]:
# Editing series
countries

['IND', 'PAK', 'USA', 'BAN', 'CHAINA']

In [47]:
# using index
countries[2] = "UAE"

In [48]:
countries

['IND', 'PAK', 'UAE', 'BAN', 'CHAINA']

In [58]:
# if index in not exist 
vk[512] = 100

In [60]:
vk[512]

100

In [64]:
# using nagative indexing
countries[-1] = "SRI"

In [80]:
# using scling
numbers[2:4] = [100, 100]

In [81]:
numbers

[23, 87, 100, 100, 100, 109]

In [83]:
# using lable
movies_series["Evening Shadows"] = "Ayush Maan Khuran"

In [84]:
movies_series

movie
Uri: The Surgical Strike                    Vicky Kaushal
Battalion 609                                 Vicky Ahuja
The Accidental Prime Minister (film)          Anupam Kher
Why Cheat India                             Emraan Hashmi
Evening Shadows                         Ayush Maan Khuran
                                              ...
Hum Tumhare Hain Sanam                     Shah Rukh Khan
Aankhen (2002 film)                      Amitabh Bachchan
Saathiya (film)                              Vivek Oberoi
Company (film)                                 Ajay Devgn
Awara Paagal Deewana                         Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [91]:
# using fancy indexing
numbers[[0, 2]]

TypeError: list indices must be integers or slices, not list

In [92]:
# Series with python functionality

In [95]:
# len / type / dir / sorted / max / min
numbers

[23, 87, 100, 100, 100, 109]

In [97]:
sorted(numbers)

[23, 87, 100, 100, 100, 109]

In [98]:
# type conversion

In [103]:
list(vk)

[1,
 23,
 13,
 12,
 1,
 9,
 34,
 0,
 21,
 3,
 10,
 38,
 3,
 11,
 50,
 2,
 22,
 19,
 16,
 15,
 20,
 38,
 19,
 24,
 7,
 2,
 16,
 17,
 24,
 38,
 34,
 42,
 13,
 58,
 3,
 14,
 37,
 9,
 23,
 12,
 71,
 35,
 30,
 56,
 67,
 27,
 27,
 39,
 15,
 11,
 31,
 70,
 8,
 35,
 8,
 6,
 57,
 22,
 16,
 4,
 16,
 18,
 45,
 9,
 36,
 9,
 3,
 73,
 42,
 24,
 51,
 35,
 58,
 65,
 1,
 11,
 1,
 32,
 25,
 57,
 93,
 99,
 17,
 14,
 56,
 49,
 0,
 31,
 21,
 4,
 0,
 35,
 0,
 4,
 10,
 27,
 67,
 38,
 73,
 13,
 41,
 18,
 51,
 62,
 35,
 1,
 34,
 48,
 32,
 82,
 19,
 44,
 1,
 12,
 12,
 75,
 79,
 33,
 80,
 100,
 14,
 52,
 108,
 20,
 7,
 109,
 75,
 113,
 54,
 0,
 54,
 62,
 28,
 64,
 0,
 10,
 55,
 20,
 6,
 5,
 58,
 31,
 21,
 57,
 92,
 30,
 18,
 68,
 32,
 8,
 39,
 70,
 48,
 12,
 4,
 6,
 46,
 3,
 23,
 84,
 41,
 67,
 8,
 100,
 9,
 13,
 23,
 25,
 16,
 18,
 9,
 7,
 29,
 1,
 72,
 43,
 43,
 90,
 48,
 14,
 33,
 50,
 8,
 6,
 33,
 33,
 5,
 72,
 8,
 12,
 35,
 5,
 25,
 5,
 4,
 25,
 51,
 53,
 39,
 41,
 12,
 5,
 48,
 1,
 12,
 0,
 0,
 9,
 58,
 30,
 0,
 20,
 73,
 25,
 7,
 100]

In [104]:
# member operation

In [107]:
# check on the index
"Evening Shadows" in movies_series

True

In [109]:
# check on the values
"Emraan Hashmi" in movies_series

False

In [110]:
# loop

In [112]:
for i in numbers:
    print(i)

23
87
100
100
100
109

In [117]:
# relational operation (it gives the boolean series)

In [176]:
century = vk[vk >= 100]
century.size

pandas.core.series.Series

In [138]:
# find the number of 50's and 100's scored by virat kohalise
score = vk[vk >= 50]
score.size

50

In [141]:
# find the number of ducks
score = vk[vk == 0]
score.size

9

In [150]:
# count number of day when i had more then 200 subs in a day
subscribers = subs[250 <= subs]
subscribers.size

19

In [164]:
# find actor have more then 20 movies
movies_series.value_counts().head(5)

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
Name: count, dtype: int64

In [166]:
movies_series.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 567, dtype: int64

In [167]:
numbers

[23, 87, 100, 100, 100, 109]

In [173]:
numbers[0, 1]

AttributeError: 'list' object has no attribute 'loc'